<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <!-- PROPERTIES -->
  <property name="appenderRoot" value="CONSOLE"/>
  <property name="logFilePath" value="${catalina.home}/logs/orders_${environment}"/>
  <property name="logFileName" value="orders"/>
  <property name="patternRelativeThread"
    value="%-4relative [%thread] %-5level %logger{35} - %msg%n"/>
  <property name="patternCommon" value="%d %5p %c:%4L - %m%n"/>
  <property name="patternCustomUser" value="%d %5p %40.40c:%4L - %-24user - %m%n"/>

  <!-- CUSTOM CONVERTERS -->
  <!-- 	<conversionRule conversionWord="user" converterClass="com.accsa.jutep.web.util.CustomUserLogbackConverter" /> -->

  <!-- APPENDERS -->
  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <layout class="ch.qos.logback.classic.PatternLayout">
      <pattern>${patternCommon}</pattern>
    </layout>
  </appender>

  <appender name="ROLLING_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>${logFilePath}/${logFileName}.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
      <maxHistory>30</maxHistory>
      <timeBasedFileNamingAndTriggeringPolicy
        class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
        <maxFileSize>10MB</maxFileSize>
      </timeBasedFileNamingAndTriggeringPolicy>
    </rollingPolicy>
    <encoder>
      <pattern>${patternCustomUser}</pattern>
    </encoder>
  </appender>

  <!-- LOGGERS -->
  <!-- Levels -->
  <property name="levelApp" value="INFO"/>
  <property name="levelFrame" value="INFO"/>
  <property name="levelRoot" value="INFO"/>

  <!-- Paquetes -->
  <logger name="com.orders" level="${levelApp}"/>
  <logger name="com.orders.web" level="${levelApp}"/>
  <logger name="com.orders.persistence" level="${levelApp}"/>
  <logger name="com.orders.core" level="${levelApp}"/>

  <!-- PrimeFaces -->
  <logger name="org.primefaces" level="${levelFrame}"/>
  <!-- Hibernate -->
  <logger name="org.hibernate" level="${levelFrame}"/>
  <!-- Quartz -->
  <logger name="org.quartz.core" level="OFF"/>
  <!-- Apache CXF -->
  <logger name="org.apache.cxf" level="${levelFrame}"/>
  <!-- Spring Framework -->
  <logger name="org.springframework" level="${levelFrame}"/>
  <logger name="org.springframework.security" level="${levelFrame}"/>
  <!-- Loggers para SAML -->
  <logger name="org.springframework.security.saml" level="${levelFrame}"/>
  <logger name="org.opensaml" level="${levelFrame}"/>
  <logger name="PROTOCOL_MESSAGE" level="${levelFrame}"/>
  <!-- Loggers para jsf -->
  <logger name="javax.enterprise.resource.webcontainer.jsf.lifecycle" level="ERROR" />
  <logger name="javax.enterprise.resource.webcontainer.jsf.context" level="ERROR" />

  <root level="${levelApp}">
    <appender-ref ref="${appenderRoot}"/>
  </root>
</configuration>